version: 2

jobs:
  # Test Jobs
  build:
    docker:
      - image: golang:1.12.9
    steps:
      - checkout
      - run: make build

  prototool-lint:
    docker:
      - image: uber/prototool
    steps:
      - checkout
      - run: prototool lint

  validate-swagger:
    docker:
      - image: quay.io/goswagger/swagger
    steps:
      - checkout
      - run: make swagger-validate

  validate-commits:
    docker:
      - image: commitsar/commitsar:0.2.1
    steps:
      - checkout
      - run: commitsar

  test:
    docker:
      - image: golang:1.12.9
    steps:
      - checkout
      - run: make test/ci

  e2e-tests:
    docker:
      - image: golang:1.12.9
    steps:
      - checkout
      - run: |
          curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose
      - setup_remote_docker
      - run: |
          mkdir .well-known
          make e2e
          make e2e/env-stop

  e2e-tests/nocache:
    docker:
      - image: golang:1.12.9
    steps:
      - checkout
      - run: |
          curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose
      - setup_remote_docker
      - run: |
          mkdir .well-known
          REDIS_HOST=nocache make e2e
          make e2e/env-stop

  # Deploy Jobs
  deploy/sandbox:
    docker:
      - image: golang:1.12.9
    steps:
      - run: |
          curl -X POST \
               -F token=$GITLAB_CI_TOKEN \
               -F ref=master \
               -F "variables[DEPLOY_ENV]=sandbox" \
               -F "variables[CI_COMMIT_SHA]=$CIRCLE_SHA1" \
               https://gitlab.skypicker.com/api/v4/projects/1680/trigger/pipeline

  deploy/production:
    docker:
      - image: golang:1.12.9
    steps:
      - run: |
          curl -X POST \
               -F token=$GITLAB_CI_TOKEN \
               -F ref=master \
               -F "variables[DEPLOY_ENV]=production" \
               -F "variables[CI_COMMIT_SHA]=$CIRCLE_SHA1" \
               https://gitlab.skypicker.com/api/v4/projects/1680/trigger/pipeline

  publish/docs:
    docker:
      - image: commitsar/hugo:0.0.1
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            cd www
            npm i
            hugo mod get
      - run:
          name: Set author of the commit
          command: |
            git config user.email "ci-build@kiwi.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "9c:b5:0a:f1:d1:6f:49:34:d3:81:10:81:cd:cc:6c:d5"
      - run: make docs/publish

workflows:
  version: 2
  build:
    jobs:
      - build
  test:
    jobs:
      - prototool-lint: &ignore-master
          filters:
            branches:
              ignore:
                - master
      - validate-swagger: *ignore-master
      - validate-commits: *ignore-master
      - test: *ignore-master
      - e2e-tests: *ignore-master
      - e2e-tests/nocache: *ignore-master
  deploy:
    jobs:
      - publish/docs: &only-master
          filters:
            branches:
              only:
                - master
      - deploy/sandbox: *only-master
      - deploy/production:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
